/* -------------------- GENERAL(App) -------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020631;
    font-family: Arial, Helvetica, sans-serif;
}

.layout{
    display: flex;
}

.app{
    flex: 1;
    padding: 20px;
}

.app h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}

/* ----------------------BARRA LATERAL---------------------- */

.barra-lateral{
    width: 290px;
    min-height: 100vh;
    background-color: #050530;
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

/* ----------------------USUARIO---------------------- */

.usuario h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.usuario{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.usuario img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid hotpink;
    margin-bottom: 20px;
}

.nombreUsuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nombreUsuario h2{
    font-size: 2rem;
}

.verificado{
    color: #1d9bf0;
    font-size: 1.4rem;
}

.usuario p{
    opacity: 0.7;
    margin-top: 5px;
    font-size: 1.2rem;
}

.usuarioNumeros{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.usuarioNumeros div{
    background-color: #1a1a4a;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

/* --------------------MENU-------------------- */

.MenuLateral{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.MenuLateral button{
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.MenuLateral button:hover{
    background-color: #1a1a4a;
}

.MenuLateral .activo{
    background-color: #1a1a4a;
    border-left: 5px solid hotpink;
}

/*----------------------FEED----------------------*/

.feed{
    column-count: 3;
    column-gap: 25px;
}

/* ----------------------PUBLICACION----------------------*/

.publicacion{
    background-color: #020631;
    border-radius: 15px;
    margin-bottom: 25px;
    break-inside: avoid;
    cursor: pointer;
}

.publicacionImg{
    width: 100%;
    border-radius: 12px;
    display: block;
}

.publicacionDesc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.publicacionUsuario{
    display: flex;
    align-items: center;
    gap: 8px;
}

.fotoPerfil{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.publicacionUsuario p{
    color: white;
    font-size: 0.8rem;
}

.publicacionInteracciones{
    display: flex;
    align-items: center;
    gap: 12px;
}

.publicacionInteracciones button{
    background: none;
    border: none;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.publicacionInteracciones button:hover{
    transform: scale(1.1);
}

/*----------------MODAL----------------*/

.overlay{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modalPublicacion{
    width: 75%;
    max-width: 1200px;

    height: 85vh;

    background-color: #111;

    border-radius: 10px;

    display: flex;

    overflow: hidden;

    position: relative;
}

.modalImg{
    width: 65%;
    height: 100%;

    object-fit: cover;
}

.modalInfo{
    width: 35%;

    padding: 20px;

    color: white;

    display: flex;
    flex-direction: column;
}

.modalUsuario{
    display: flex;
    align-items: center;

    gap: 10px;

    margin-bottom: 20px;
}

.modalDescripcion{
    margin-bottom: 30px;

    line-height: 1.5;
}

.modalInteracciones{
    margin-top: auto;

    display: flex;

    gap: 20px;
}

.modalInteracciones button{
    background: none;
    border: none;

    color: white;

    font-size: 1.1rem;

    display: flex;
    align-items: center;

    gap: 8px;

    cursor: pointer;
}

.cerrarModal{
    position: absolute;

    top: 15px;
    right: 15px;

    background: none;
    border: none;

    color: white;

    font-size: 2rem;

    cursor: pointer;

    z-index: 1000;
}