.barra-lateral{
    width: 290px;
    height: calc(100vh - 80px);
    background-color: #050530;
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 2.5%;
}
