.MenuLateral{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.MenuLateral button{
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.MenuLateral button:hover{
    background-color: #1a1a4a;
}

.MenuLateral .activo{
    background-color: #1a1a4a;
    border-left: 5px solid hotpink;
}